/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'haplotree'
    author           = 'Merlin Szymanski'
    homePage         = ''
    description      = 'Human haplogroup analysis based on diagnostic positions'
    nextflowVersion  = '>=22.10'
    version          = 'v0.2'
}

cleanup = true
nextflow.enable.moduleBinaries = true

singularity {
  autoMounts = true
  enabled    = true
  runOptions = "-B /tmp,/mnt"
}

// input
params.split     = ""

// for mapping and low-complexity removal
params.reference = "${projectDir}/assets/RSRS.fasta"
params.bedfile   = "${projectDir}/assets/poly-c.bed"
params.treexml   = "${projectDir}/assets/tree.xml"

process {
    withName: "MAP_BWA" {
        publishDir = [
            path: "out/01_bwa",
            mode: "copy",
            pattern: "mapped_*.bam",
        ]
        ext.args = "-n 0.01 -o 2 -l 16500"
    }
    withName:"BAM_RMDUP" {
        publishDir = [
            path: "out/02_uniq",
            mode: "copy",
            pattern: "deduped_*.bam",
        ]
        ext.args = "-r"
    }
    withName:"BEDTOOLS_INTERSECT" {
        publishDir = [
            path: "out/03_bedfilter",
            mode: "copy",
            pattern: "*.bam",
        ]
    }
    withName:"SAMTOOLS_MPILEUP" {
        ext.args = "--output-BP-5 --no-output-ends --no-output-ins --no-output-del --no-output-ins --no-output-del --min-BQ 0  -R --ff 0"
        publishDir = [
            [
                path: "out/04_pileup",
                mode: "copy",
                saveAs: { "${meta.id}_all_mpiled.tsv" },
                pattern: "all.tsv"
            ],
        ]
    }
    withName:"SAMTOOLS_MPILEUP_DEAM3" {
        ext.args = "--output-BP-5 --no-output-ends --no-output-ins --no-output-del --no-output-ins --no-output-del --min-BQ 0  -R --ff 0"
        publishDir = [
            [
                path: "out/05_deaminated",
                mode: "copy",
                saveAs: { "${meta.id}_deam3_mpiled.tsv" },
                pattern: "*.tsv"
            ],
        ]
    }
    withName:"GET_VARIABLE_POSITIONS" {
        publishDir = [
            [
                path: "out/04_pileup",
                mode: "copy",
                saveAs: { "${meta.id}_variable_positions.tsv" },
                pattern: "*.tsv"
            ],
        ]
    }
    withName:"FILTER_BAM" {
        publishDir = [
            [
                path: "out/05_deaminated",
                mode: "copy",
                saveAs: { "${meta.id}_deam3.bam" },
                pattern: "*.bam"
            ],
        ]
    }
    withName:"SUMMARIZE_PHYLOTREE"{
        publishDir = [
            [
                path: "out/06_haplogroups",
                mode: "copy",
                pattern: "*.tsv"
            ],
        ]
    }
}
